/* Modus Versus Slicing
 *
 * /sass/objects/_slider.scss - Non-cosmetic styles for slider
 *
 * coded by Corentin
 * started at
 */
.slider{
    position: relative;
    &-slides{
        margin-bottom: 1rem;
        &__elt {
            background-color: $sliderBackgroundColor;
            text-align: center;
            display: none;
            min-height: 31.25rem;
            vertical-align: middle;
            padding-top: 11rem;
            &-title{
                display: block;
                margin: 0 auto 2rem;
                padding: 0.5rem 0 ;
                width: 22rem;
                font-size: 3.2rem;
                background-color: $linkColor;
                color: $menuTextColor;
                text-transform: uppercase;
                font-weight: 700;
                border-radius: 2px;

            }
            &-text{
                width: 30rem;
                padding: 1rem;
                background-color: $sliderDarkBackgroundColor;
                border-radius: 2px;
                color: $menuTextColor;

            }
            &--is-active{
                display: block;
            }
        }
    }

}
